<div class="container">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-4">
    <div class="row">
      <div class="col-md-6 px-0">
        <p class="lead my-3">今回作成するブログの機能としては、タグ、画像登録、新規登録、ログイン、いいね、コメント、管理ユーザー等です。</p>
          <button><a href="#" class="btn btn-primary">ログイン</a></button>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">注目の話題</h3>
        <h4>
          <a href="#"><button type="button" class="badge badge-info my-1">なぞなぞ</button></a>
          <a href="#"><button type="button" class="badge badge-light my-1">日本脱出</button></a>        
        </h4>
      </div>
    </div>
  </div>
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-4">
    <div class="row">
      <div class="col-md-6 px-0">
        <p class="lead my-3">今回作成するブログの機能としては、タグ、画像登録、新規登録、ログイン、いいね、コメント、管理ユーザー等です。</p>
          <button><a href="#" class="btn btn-primary">ログイン</a></button>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">注目の話題</h3>
        <h4>
          <a href="#"><button type="button" class="badge badge-info my-1">なぞなぞ</button></a>
          <a href="#"><button type="button" class="badge badge-light my-1">日本脱出</button></a>        
        </h4>
      </div>
    </div>
  </div>
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mt-4">
    <div class="row">
      <div class="col-md-6 px-0">
        <p class="lead my-3">今回作成するブログの機能としては、タグ、画像登録、新規登録、ログイン、いいね、コメント、管理ユーザー等です。</p>
          <button><a href="#" class="btn btn-primary">ログイン</a></button>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">注目の話題</h3>
        <h4>
          <a href="#"><button type="button" class="badge badge-info my-1">なぞなぞ</button></a>
          <a href="#"><button type="button" class="badge badge-light my-1">日本脱出</button></a>        
        </h4>
      </div>
    </div>
  </div>
</div>



